body
{
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 5em;
    padding-right: 2em;
    background: #BBBBBB;
}

.WW p
{
    background-color: white;
    border-right: thick double blue;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 40px;
    text-indent: 5em;
}

.WW h2 
{
    font-size: 20pt;
    color: blue;
    font-family: Arial;
}
